// Global Variables Go Here
$mw-purple: #5d358c;
$mw-dark-purple: #311c4a;
$mw-pink: #ff6060;
$mw-yellow: #fffd7a;
$mw-white: #ffffff;
$header-fonts: 'Titillium Web', Helvetica, Arial, sans-serif;
$main-fonts: 'Roboto', Helvetica, Arial, sans-serif;
$max-width: 1600px;
